@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .inner {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.footer .f_logo > a > img {
    display: block;
    margin-bottom: 20px;    
    width: 150px;
    height: 36px;
}

.footer .f_menu {
    margin-bottom: 15px;
}

.footer .f_menu:after {
    content: "";
    display: block;
    clear: both;
}

.footer .f_menu li:first-child {
    padding-left: 0;
}

.footer .f_menu li {
    position: relative;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}


.footer .f_menu li:first-child:before {
    display: none;
}

.footer .f_menu li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .f_menu.type1 li a {
    color: #4d4d4d;
}

.footer .f_menu li a {
    display: block;
    font-size: 12px;
}

.footer .bx_address {
    line-height: 1.5;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}
.roboto {
    font-family: "Roboto";
}

.pl5 {
    padding-left: 5px !important;
}

.footer .bx_address span.bar {
    position: relative;
    padding-left: 10px;
}

.footer .bx_address.type1 span.bar:before {
    opacity: .6;
}

.footer .bx_address span.bar:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .bx_address .txt_underline {
    text-decoration: none;
    
}

.footer .copyright {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
}