.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-top: -310px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    display: inline-block;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;    
    margin-left: 290px;
    margin-top: -16px;
}

.link {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 기본 색상 검정 */
    padding: 0 110px;
    border: none;
    border-radius: 5px;
    background-color: transparent; /* 배경색 투명 */
}

/* 마우스 호버 시 스타일 */
.link:hover {
    color: red; /* 마우스 호버 시 빨간색 */
}