.fare_wrap{
    width: auto;
    height: auto;
}
.fare_top_wrap{
    margin-top: 30px;
    display: flex;
}
.fare_top_wrap button{
    border: none;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.fare_top_wrap button::after {
    content: '';
    position: absolute;
    bottom: -5px; /* 버튼 아래에 위치하도록 설정 */
    left: 50%;
    transform: translateX(-50%);
    width: 60%; /* 밑줄의 너비 */
    height: 1.5px; /* 밑줄의 높이 */
    background-color: transparent; /* 밑줄 색상 */
}

.fare_top_wrap button.active::after {
    background-color: black; /* 활성화된 버튼의 밑줄 색상 */
}
.fare_bottom_wrap {
    margin-top: 30px;
    display: flex;
    padding: 0 48px;
}
.fare_bottom_content {
    display: none;
}
.fare_bottom_content.active{
    display: block;
    width: 100%;
}
.top_content{
    display: flex;
    flex-direction: column; 
}
.price_title {
    padding-left: 61px;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFFFF8;
}

.price_content{
    background-color: transparent;
}
.content_content{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.content_content strong{
    margin-left: 10px;
    margin-right: 100px;
    font-size: 15px;
}
.content_content strong,
.content_content span{
    flex: 1;
    text-align: center;
}
.fare_detail_wrap{
    display: flex;
    flex-direction: column;
    padding: 40px 48px;
    margin: 30px 45px;
    font-size: 12px;
    background-color: #E7E7E7;
    border-radius: 15px;
}
