.article_payment_fin{
    background-color: #F8F8F8;
    width: 100%;
    box-sizing: border-box;
}
.payment_group_top{
    position: relative;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #222;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 20px;
}
.payment_inner{
    overflow: hidden;
    height: 855px;
    overflow-y: auto;
}
.payment_fin_wrap{
    width: 685px;
    margin: 0 auto;
}
.payment_top_notice{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment_top_notice img{
    margin: 10px 0;
    width: 78px;
    height: 61px;
}
.reserve_result_wrap{
    position: relative;
    width: 605px;
    margin: 18px 0;
    padding: 40px 40px 25px;
    border-radius: 4px;
    border: 1px solid #DDD;
    background-color: #FFF;
}
.infor_result_wrap{
    display: flex;
    margin-bottom: 30px;
}
.reserv_poster img{
    width: 150px;
    height: 220px;
}
.reserv_payment_info{
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.reserv_payment_info_booknum{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
    font-size: 15px;
}
.reserv_payment_info_booknum span{
    margin: 0 20px;
}
.reserv_payment_info_bottom{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jh_info_reserv{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.jh_info_reserv span{
    margin: 0 20px;
    font-size: 15px;
}

.infor_pay_count{
    padding-top: 20px;
    border-top: 1px solid #D5D5D5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay_count_row{
    margin: 10px 0;
}
.pay_count_row span{
    margin: 0 10px;
    font-size: 15px;
}
.success_info{
    margin-top: 30px;
    width: 100%;
}
.success_info ul{
    list-style: disc;
}
.success_info li{
    margin: 10px 0;
    font-size: 15px;
}
.btn_success_wrap{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btn_success_wrap button{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    margin-bottom: 50px;
}
.btn_success_wrap button:hover {
    background-color: #FF7E7E; /* 호버 시 배경색 변경 */
}
.point_grade_img{
    margin-top: 30px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    position: relative;
}
.point_grade_img::after{
    content: '';
    width: 90%;
    position: absolute;
    top: 58%;
    left: 5%;
    right: 5%;
    height: 1px;
    background-color: #D5D5D5;
}
.point_grade_top{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-bottom: 20px;
}

.grade_img_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.grade_img_group img{
    width: 50px;
    height: 30px;
}
.grade_img_group span{
    display: inline-block;
    color: white;
    padding: 5px 15px;
    border-radius: 20px; /* 둥근 모서리 */
    font-weight: bold;
    text-align: center;
    margin-top: 5px; /* 왕관과의 간격 */
    font-size: 13px;
    position: relative;
}
.grade_img_group p {
    margin-top: 30px;
    font-size: 15px;
}

