<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.db.jsondb.mapper.CinemaMapper">
    <insert id="insertCinema" parameterType="com.json.db.jsondb.dto.CinemaDTO">
        INSERT INTO cinema (cinema_id,name, location, theater, seats, parking)
        VALUES (#{cinema_id},#{name}, #{location}, #{theater}, #{seats}, #{parking})
    </insert>
</mapper>