<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.json.db.jsondb.mapper.SeatsMapper">
    <insert id="insertSeats" parameterType="com.json.db.jsondb.dto.SeatsDTO">
        INSERT INTO seats (seat_id,link_id, seat_row, num, seat_type)
        VALUES (#{seat_id},#{link_id}, #{seat_row}, #{num,jdbcType=INTEGER}, #{seat_type})
    </insert>
</mapper>