.primary-button-lg {
  border-radius: 6px;
  padding: 8px 24px;
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(58,87,232,1);

  color: rgba(255,255,255,1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
}

.disable-button-lg {
  border-radius: 6px;
  padding: 8px 24px;
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(138,146,166,1);

  color: rgba(255,255,255,1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: default;

  transition: all 0.4s ease;
}



.primary-button-lg:hover {
  /* 투명도 */
  opacity: 0.95;
}

.text-link-lg {
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: rgba(113,113,113,1);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  transition: all 0.4s ease;
  cursor: pointer;
}

.text-link-lg:hover{
  color:rgba(40,40,40,1);
  transform: scale(1.1);
  content: none;
}

.text-link-lg2::after{
  display: block;
  content: '';
  position: relative;
  left: -3px;
  top: 35%;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background: rgba(40,40,40,1);
  opacity: 0.5;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  
}

.SALLYBOX-logo-button{
  width: 200px;
  height: 60px;

  background-position: 50% 50%;
  background-size: 100%;
  background-image: url('./image/logo_red.png');
}

.kakao-sign-in-button {
  width: 56px;
  height: 56px;

  background-position: 50% 50%;
  background-size: 100%;
  background-image: url('./image/kakao-sign-in.png');

  cursor:pointer
}

.naver-sign-in-button {
  width: 56px;
  height: 56px;

  background-position: 50% 50%;
  background-size: 100%;

  background-image: url('./image/naver-sign-in.png');

  cursor:pointer
}