#wrap{
    width: 980px;
    margin: 0 auto;
}

.header{
    position: static;
    height: 114px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.contents{
    position: relative;
    margin-top: 50px;
}

