<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SqlMapper">

    <select id="getCinemaInfo" parameterType="int" resultType="com.example.demo.DTO.JH.CinemaDTO">

        SELECT c.*,m.title,m.poster_path 
        FROM cinema c, movies m
        WHERE c.cinema_id = #{cinema_id}
        and m.movie_id = 1075676
        
    </select>

    <!-- <select id="getSchedules" parameterType="int" resultType="com.example.demo.DTO.ScheduleDTO">
        select * FROM schedule WHERE cinemaId = #{cinemaId}
    </select> -->

    <select id="getSchedulesTheater" parameterType="int" resultType="com.example.demo.DTO.JH.SchedulesTheaterDTO">
        select  s.schedule_id,s.cinema_id, s.movie_id, s.theater_id, s.start_time, s.end_time, s.created,
           m.title AS title, m.certification AS certification, m.poster_path AS poster_path,
           t.theater_type AS theater_type, t.screen_no AS screen_no,
           c.name AS name
        FROM schedule s
        JOIN movies m ON s.movie_id = m.movie_id
        JOIN theater t ON s.theater_id = t.theater_id
        JOIN cinema c ON s.cinema_id = c.cinema_id
        WHERE s.cinema_id = #{cinema_id}
        ORDER BY s.start_time 
    </select>

    <select id="getSeatsbyTheaterId" parameterType="map" resultType="com.example.demo.DTO.JH.SeatsDTO">
        select DISTINCT s.*, 
            case when b.seat_id is not null then 'yes' else 'no' end as status
            FROM seats s
            left JOIN booking b ON s.seat_id = b.seat_id and b.schedule_id = #{schedule_id}
            JOIN theater t ON s.link_id = t.link_id
            WHERE t.theater_id = #{theater_id}
            ORDER BY s.seat_id
    </select>

    <select id="getPoints" parameterType="int" resultType="int">
        select points FROM users WHERE user_id = #{user_id}
    </select>

    <insert id="insertBooking" parameterType="com.example.demo.DTO.JH.BookingDTO">
        INSERT INTO booking (booking_id, user_id, schedule_id,seat_id, booking_date, people_type,booking_num,movie_id)
        VALUES (booking_seq.NEXTVAL, #{userId}, #{scheduleId},#{seatId}, #{bookingDate}, #{peopleType},#{bookingNum,jdbcType=NUMERIC},#{movieId})
    </insert>

    <select id="getGrade" parameterType="int" resultType="String">
        select grade FROM users WHERE user_id = #{userId}
    </select>

    <update id="updatePoints" parameterType="map">
        update users set points = points - #{pointUsage} + #{totalPrice}*#{grade}
        where user_id = #{userId}
    </update>

    <insert id="insertPayment" parameterType="com.example.demo.DTO.JH.PaymentDTO">
        INSERT INTO payment (payment_id,user_id, booking_num, payment_method, price, payment_date, point_usage)
        VALUES (payment_seq.NEXTVAL,#{userId}, #{bookingNum}, #{paymentMethod}, #{price}, TO_DATE(#{paymentDate}, 'YYYY-MM-DD"T"HH24:MI:SS'), #{pointUsage})
    </insert>

    <!-- 강현 -->
    <select id="findPassword" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM users WHERE email = #{email} AND name = #{name}
    </select>

    <select id="findByEmail" resultType="com.example.demo.DTO.KH.CustomDTO">
    <!-- 돌려주는 곳(받는 데이터 타입)이 com.exe.springmybatis.CustomDTO 임 로그인 할 때 사용 -->
      SELECT user_id AS userid, email, password, name, nickname, points FROM users WHERE email = #{email}
    </select>

    <select id="findByName" resultType="com.example.demo.DTO.KH.CustomDTO">
      SELECT user_id AS userid, email, password, name FROM users WHERE name = #{name} AND phone_number = #{phoneNumber}
    </select>

    <update id="updatePassword" parameterType="map">
    <!-- parameterType="String": SQL 쿼리에서 #{email}을 바인딩할 자바 타입은 String입니다. 여러개이면 map이나 dto 타입으로 설정 -->
      UPDATE users
      SET password = #{password}
      WHERE email = #{email}
    </update>

    <select id="getNowMovies" resultType="com.example.demo.DTO.KH.NowMoviesDTO">
      select movie_id AS movieId, poster_path AS posterPath, title, vote_average AS voteAverage, certification, runtime from nowmovies
      ORDER BY vote_average DESC
    </select>

    <select id="getReccommendMovies" resultType="com.example.demo.DTO.KH.NowMoviesDTO">
      SELECT * FROM (
        SELECT 
            movie_id AS movieId, 
            poster_path AS posterPath, 
            title, 
            vote_average AS voteAverage, 
            certification, 
            runtime
        FROM 
            movies
        ORDER BY 
            vote_average DESC
        )
      <![CDATA[
      WHERE ROWNUM <= 20
      ]]>
    </select>

    <select id="getClassicMovies" resultType="com.example.demo.DTO.KH.NowMoviesDTO">
      SELECT * FROM (
        SELECT 
            movie_id AS movieId, 
            poster_path AS posterPath, 
            title, 
            release_date AS releaseDate,
             vote_average AS voteAverage,
            certification, 
            runtime
        FROM 
            movies
            <![CDATA[
        WHERE 
            release_date < TO_DATE('2010-12-31', 'YYYY-MM-DD')
        ]]>
        ORDER BY 
            vote_average DESC
      )
      <![CDATA[
      WHERE ROWNUM <= 30
      ]]>

    </select>

    <!-- 주용 xml -->

    <insert id="insertInquiry" parameterType="com.example.demo.DTO.JY.InquiryRequest">
        INSERT INTO CustomerInquiries (inquiry_id, name, phone_Number, email, title, content, created_at)
        VALUES (CustomerInquiries_seq.NEXTVAL, #{name}, #{phone_Number}, #{email}, #{title}, #{content}, SYSDATE)
    </insert>

    <select id="selectAllInquiries" resultType="com.example.demo.DTO.JY.InquiryRequest">
        SELECT * FROM CustomerInquiries
    </select>

    <delete id="deleteInquiryByTitle" parameterType="String">
        DELETE FROM CustomerInquiries WHERE title = #{title}
    </delete>
    
    <update id="updateInquiry" parameterType="com.example.demo.DTO.JY.InquiryRequest">
        UPDATE CUSTOMERINQUIRIES
            SET title = #{title},
                content = #{content}
            WHERE email = #{email}
    </update>

    <!-- 지영 Mapper.xml -->

    <!-- 서울 기준으로 시간을 맞추기 위해서 -->
    <select id="setSessionTimeZone">
        ALTER SESSION SET TIME_ZONE = 'Asia/Seoul'
    </select>

    <!-- INSERT 쿼리: Movies 테이블에 영화 정보를 삽입 -->
    <insert id="insertMovie" parameterType="com.example.demo.DTO.ZERO.MovieDTO">
        INSERT INTO movies (genre_ids, movie_id, original_language, overview, popularity, poster_path, release_date, title, vote_average, videos, runtime, certification)
        VALUES (#{genreIdsString}, #{movieId}, #{originalLanguage}, #{overview}, #{popularity}, #{posterPath}, #{releaseDate}, #{title}, #{voteAverage}, #{videos}, #{runtime}, #{certification})
    </insert>

    <select id="findMoviesByTitle" parameterType="string" resultType="com.example.demo.DTO.ZERO.MovieDTO">
       SELECT * FROM movies WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="findById" resultType="com.example.demo.DTO.ZERO.MovieDTO">
      SELECT 
        MOVIE_ID as movieId,
        GENRE_IDS as genreIdsString, 
        ORIGINAL_LANGUAGE as originalLanguage, 
        OVERVIEW as overview, 
        POSTER_PATH as posterPath, 
        RELEASE_DATE as releaseDate, 
        TITLE as title, 
        VOTE_AVERAGE as voteAverage, 
        VIDEOS as videos, 
        RUNTIME as runtime, 
        CERTIFICATION as certification,
        POPULARITY as popularity
      FROM movies 
      WHERE MOVIE_ID = #{movieId}
    </select>

    <select id="checkWishlist" resultType="int">
        SELECT COUNT(*) FROM wishlist 
        WHERE user_id = #{userId} 
        AND movie_id = #{movieId}
    </select>

    <insert id="insertWishlist">
        INSERT INTO wishlist (user_id, movie_id, genre_ids, created_at)
        VALUES (#{userId}, #{movieId}, #{genreIds}, SYSDATE)
    </insert>

    <delete id="deleteWishlist">
        DELETE FROM wishlist 
        WHERE user_id = #{userId} 
          AND movie_id = #{movieId}
    </delete>

    <!-- 리뷰 저장 쿼리 -->
    <!-- mapper XML에서 createdAt 필드를 사용할 때, `jdbcType`을 `TIMESTAMP WITH TIME ZONE`으로 설정해 주세요. -->
    <insert id="saveReview" parameterType="com.example.demo.DTO.ZERO.ReviewsDTO">
        INSERT INTO MOVIEREVIEWS (REVIEW_ID, MOVIE_ID, USER_ID, RATING, REVIEW_TEXT, CREATED_AT)
        VALUES (MOVIEREVIEWS_SEQ.NEXTVAL, #{movieId}, #{userId}, #{rating}, #{reviewText,jdbcType=VARCHAR}, 
        #{createdAt,jdbcType=TIMESTAMP})
    </insert>


    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="com.example.demo.DTO.ZERO.ReviewsDTO">
        UPDATE MOVIEREVIEWS
        SET REVIEW_TEXT = #{reviewText}, RATING = #{rating}
        WHERE REVIEW_ID = #{reviewId}
        <!-- where review_id = #{reviewId} -->
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="map">
        <!-- DELETE FROM MOVIEREVIEWS WHERE REVIEW_ID = #{review_id} AND USER_ID = #{user_id} -->
        DELETE FROM MOVIEREVIEWS WHERE REVIEW_ID = #{review_id} AND USER_ID = #{user_id}
    </delete>

    <select id="checkBookingExists" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM BOOKING
        WHERE user_id = #{userId} AND movie_id = #{movieId}
    </select>

    <!-- 특정 영화의 리뷰 목록 가져오기 -->
    <select id="findReviewsByMovieId" parameterType="int" resultType="com.example.demo.DTO.ZERO.ReviewsDTO" flushCache="true">
        SELECT 
            r.review_id AS reviewId,          -- DTO의 reviewId와 매칭
            r.movie_id AS movieId,            -- DTO의 movieId와 매칭
            r.user_id AS userId,              -- DTO의 userId와 매칭
            u.nickname AS nickname,           -- DTO의 nickname과 매칭
            r.rating AS rating,               -- DTO의 rating과 매칭
            r.review_text AS reviewText,      -- DTO의 reviewText와 매칭
            r.created_at AS createdAt         -- DTO의 createdAt과 매칭
        FROM MOVIEREVIEWS r
        JOIN users u ON r.user_id = u.user_id
        WHERE r.movie_id = #{movieId}
    </select>

    <!-- 예매페이지!!!!!!!!!!!!!! -->
     <select id="getCinemaInfojy" parameterType="int" resultType="com.example.demo.DTO.JH.CinemaDTO">

        SELECT * FROM cinema WHERE cinema_id = #{cinema_id}
        
    </select>

    <select id="getSchedulesTheaterjy" parameterType="int" resultType="com.example.demo.DTO.JH.SchedulesTheaterDTO">
        select  s.schedule_id,s.cinema_id, s.movie_id, s.theater_id, s.start_time, s.end_time, s.created,
           m.title AS title, m.certification AS certification, m.poster_path AS poster_path,
           t.theater_type AS theater_type, t.screen_no AS screen_no,
           c.name AS name
        FROM schedule s
        JOIN movies m ON s.movie_id = m.movie_id
        JOIN theater t ON s.theater_id = t.theater_id
        JOIN cinema c ON s.cinema_id = c.cinema_id
        WHERE s.cinema_id = #{cinema_id}
        ORDER BY s.start_time 
    </select>
    <!-- #{cinema_id} -->



    <!-- 특정 지역의 영화관 목록을 가져오는 SQL 쿼리 -->
    <select id="getCinemasByRegion" parameterType="String" resultType="com.example.demo.DTO.JH.CinemaDTO">
        SELECT * FROM cinema WHERE location LIKE #{region}
    </select>

    <!-- 상영작 20개 -->
    <select id="findNowMovieById" parameterType="int" resultType="com.example.demo.DTO.ZERO.NowMovieDTO">
        SELECT 
        MOVIE_ID as movieId,
        GENRE_IDS as genreIdsString, 
        ORIGINAL_LANGUAGE as originalLanguage, 
        OVERVIEW as overview, 
        POSTER_PATH as posterPath, 
        RELEASE_DATE as releaseDate, 
        TITLE as title, 
        VOTE_AVERAGE as voteAverage, 
        VIDEOS as videos, 
        RUNTIME as runtime, 
        CERTIFICATION as certification,
        POPULARITY as popularity
        FROM nowmovies 
        WHERE MOVIE_ID = #{movieId}
    </select>

    <select id="existsByMovieId" parameterType="int" resultType="int">
        SELECT movie_id FROM nowmovies WHERE movie_id = #{movieId}
    </select>

    <!-- 선호 -->
    <select id="getCustomerInfo" parameterType="int" resultType="com.example.demo.DTO.SH.CustomerDTO">
        SELECT user_id, nickname, grade, points 
        FROM users 
        WHERE user_id = #{userId}
    </select>

    <select id="getWishlistMovies" resultType="com.example.demo.DTO.SH.MyMovieDTO" parameterType="int">
        SELECT m.movie_id, m.overview, m.poster_path , m.title, m.certification
        FROM movies m
        JOIN wishlist w ON m.movie_id = w.movie_id
        JOIN users u ON w.user_id = u.user_id
        WHERE u.user_id = #{userId}
    </select>

    <delete id="deleteFromWishlist">
        DELETE FROM wishlist WHERE user_id = #{userId} AND movie_id = #{movieId}
    </delete>

    <update id="deactivateUser" parameterType="com.example.demo.DTO.SH.UserDeactivationDTO">
        UPDATE users 
        SET status = #{status}
        WHERE user_id = #{userId}
    </update>

    <update id="updateNickname" parameterType="com.example.demo.DTO.SH.ProfileDTO">
        UPDATE users SET nickname = #{nickname} 
        WHERE user_id = #{userId}
    </update>

    <update id="updateCustomer" parameterType="com.example.demo.DTO.SH.UserUpdateDTO">
        UPDATE users
        SET nickname = #{nickname},
            password = #{password},
            phone_number = #{phoneNumber}
        WHERE user_id = #{userId}
    </update>

    <resultMap id="BookingResultMap" type="com.example.demo.DTO.SH.MyBookingDTO">
        <id property="bookingId" column="booking_id"/>
        <result property="bookingDate" column="booking_date"/>
        <result property="bookingNum" column="booking_num"/>
        <result property="movieTitle" column="movie_title"/>
        <result property="posterPath" column="poster_path"/>
        <result property="cinemaName" column="cinema_name"/>
        <result property="screenNo" column="screen_no"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="peopleDetails" column="people_details"/>
        <result property="seatNumbers" column="seat_numbers"/>
    </resultMap>


    <select id="getBookingsByUserId" parameterType="int" resultMap="BookingResultMap">
                
        SELECT 
            b.booking_id,
            b.booking_date,
            b.booking_num,
            m.title AS movie_title,
            m.poster_path,
            c.name AS cinema_name,
            t.screen_no,
            s.start_time,
            s.end_time,
            (
                SELECT LISTAGG(people_type || ':' || count, ', ') WITHIN GROUP (ORDER BY people_type) AS result
                FROM (
                    SELECT booking_num, people_type, COUNT(*) as count
                    FROM booking
                    WHERE user_id = #{userId}
                    GROUP BY booking_num, people_type
                ) pd
                WHERE pd.booking_num = b.booking_num
            ) AS people_details,
            (
                SELECT LISTAGG(se.seat_row || se.num, ', ') WITHIN GROUP (ORDER BY se.seat_row, se.num)
                FROM seats se
                WHERE se.seat_id IN (
                    SELECT seat_id 
                    FROM booking 
                    WHERE booking_num = b.booking_num AND user_id = #{userId}
                )
            ) AS seat_numbers
        FROM booking b
        JOIN schedule s ON b.schedule_id = s.schedule_id
        JOIN movies m ON b.movie_id = m.movie_id
        JOIN cinema c ON s.cinema_id = c.cinema_id
        JOIN theater t ON s.theater_id = t.theater_id
        WHERE b.user_id = #{userId}
        ORDER BY b.booking_date DESC
    </select>


    <select id="getPaymentsByUserId" resultType="com.example.demo.DTO.SH.MyPayDTO">
        SELECT 
            payment_id as paymentId,
            booking_num as bookingNum,
            payment_method as paymentMethod,
            price,
            payment_date as paymentDate,
            point_usage as pointUsage,
            total_payment as totalPayment
        FROM 
            payment
        WHERE 
            user_id = #{userId}
        ORDER BY 
            payment_date DESC
    </select>
    
    <delete id="deleteBooking" parameterType="Long">
        DELETE FROM booking WHERE booking_num = #{bookingNum}
    </delete>

    <delete id="deletePayment" parameterType="Long">
        DELETE FROM payment WHERE booking_num = #{bookingNum}
    </delete>

    <update id="updateCustomerPoint">
        UPDATE users 
        SET points = points + #{pointUsage} 
        WHERE user_id = #{userId}
    </update>

</mapper>