/* 중단 */

#contents {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

/* title */

.title_top {
    margin-bottom: 20px;
    padding: 25px 0 14px;
    border-bottom: 1px solid #EEE;
}


element.style {
    width: 20%;
    left: 0%;
}


button {
    border: 1px solid #DDD;
    cursor: pointer;
    background-color: #fff;
}

.button1 {
    padding: 10px 20px; /* 위아래 10픽셀, 좌우 20픽셀의 여백 */
    font-size: 16px; /* 글자 크기 설정 */
    width:  995px; /* 버튼의 너비 설정 (선택 사항) */
    height: 50px; /* 버튼의 높이 설정 (선택 사항) */

    color: black;
    font-weight: bold;
 
}

.search_wrap {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #F8F8F8;
    padding: 22px 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0;
}






/* 고객센터 버튼 답변 질문 보이기 css */



.faq_icon_wrap {
    position: relative;
    background: #F5F5F5;
    padding: 12px 13px;
    margin-bottom: 48px;
    white-space: nowrap;
    text-align: center;
}



/* 검색창 */
.search_wrap.ty2 > input {
    width: 440px;
    margin-right: 8px;

    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    
}

.btn_col2 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;
}

/*  search_wrap 클래스 내부의 모든 요소 중에서 클래스 이름이 btn_col로 시작하는 요소들을 스타일링하는 데 사용됩니다. */
.search_wrap [class^="btn_col"] {
    width: 86px;
    height: 38px;
    line-height: 34px;
    vertical-align: middle;
    margin-bottom: 10px;
}

/* 질문 구분 답글 */
.tb_acc_wrap th, .tb_acc_wrap td {
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}











/* tb 테이블베이스 */
.tb_acc_wrap thead th {
    border-bottom-color: #BBBBBB;
    font-weight: bold;
}

.tb_acc_wrap td.text_l {
    padding: 20px;
}

.tb_acc_wrap tbody tr.acc_head {
    cursor: pointer;
}



.tb_acc_wrap tbody tr.acc_head td:last-child:after {
    content: '';
    float: right;
    /* display: inline-block; */

    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: -10px;
    vertical-align: middle;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}



.tb_acc_wrap tbody tr.acc_body {
    display: none;
}

/* 페이지보여주기  */
.brd_paginate {
    position: relative;
    /* margin-top: 45px; */
    text-align: center;
}

.brd_paginate ol {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

ul ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.brd_paginate ol li a, .brd_paginate ol li strong {
    display: inline-block;
    width: 16px;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
    font-size: 15px;
    color: #000;
    opacity: .6;
    vertical-align: middle;
}






/* 인풋 input */

.bx_textarea > input {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
}

.form-group > input {

    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;

}




/* 히든 */
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}






/* 빠른이동 */
.quick_wrap {
    position: absolute;
    z-index: 11;
    right: 20px;
    padding-top: 50px;
    width: 82px;
    text-align: center;
    position: fixed;
}

.quick_wrap .quick_menu {
    overflow: hidden;
    background: #fff;
    width: 76px;
    padding-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 91;
    text-align: center;
    -webkit-border-radius: 4px;

}

.quick_wrap .quick_menu a {
    display: block;
    padding: 5px;
}



.quick_wrap .quick_menu .qick_top {
    background: #3A3A3A;
    font-family: 'Roboto';
    font-size: 11px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 10px;
    padding-left: 13px;
}



/* 답변 옆 내용 */

.search_wrap .txt_help_wrap {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, .27);
    padding: 0 25px;
    margin-left: 20px;
    font-size: 12px;
}
.search_wrap .txt_help_wrap a {
    color: #000;
    text-decoration: underline;
    margin-right: 24px;
}
.search_wrap .txt_help_wrap p {
    color: #666666;
    margin-bottom: 10px;
}
