body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, figure {
    margin: 0;
    padding: 0;
}

body {
    /* body전체  */
    padding: 0;
    margin: 0;
   
    line-height: 1.1;
    letter-spacing: -0.03em;
}

body,
textarea {
    /* 변화시 적용  */
    line-height: 1.1;
    letter-spacing: -0.03em;
}

body,
input,
button,
select,
textarea {
    /*  변화시 적용  */
    /* font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif"; */
    font-size: 12px;
    color: #000;
}

body,
textarea {
    /*  변화시 적용  */
    line-height: 1.1;
    letter-spacing: -0.03em;
}

.logo {
    /*로고*/
    position: absolute;
    top: 5px;
    left: 48%;
       background: url("../../image/logo_red.png") 
    
}

.header .logo {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 48%;
    font-size: 30px;
    /* margin-left: -109px; */
    /* text-indent: -9999em; */
    

}






.header {
    /*  상단문구  */
   
    height: 114px;
    border-bottom: 1px solid #EEE;
    background-color: #fff;
}

.header .gnb .g_menu1>li {
    margin-left: 14px;
}

.header .gnb>ul {
    margin-top: 40px;
}

.header .gnb .g_menu3 {
    position: absolute;
    right: 0;
    top: 88px;
    margin-top: 0;
    letter-spacing: 2px;
}

.header .gnb .g_menu3>li {
    margin-left: 25px;
}

.header .gnb>ul>li {
    float: left;
}




.gnb {
    /*  상단문구  */
    position: relative;
    width: 980px;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #B2B2B2;
}


.gnb .g_menu1 {
    float: right;
    margin-top: 50px;
}


/*  ul 세팅  */
ul,
ol {
    list-style: none;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ul {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 패딩 제거 (선택적) */
}


/* li 세팅 */
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}


li {
    /* display: list-item; */
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}



h1 {
    /* h1기본세팅  */
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


div {
    /* div 세팅  */
    display: block;
    unicode-bidi: isolate;
}
div {
    display: block;
    unicode-bidi: isolate;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* 중단 */

#contents {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

/* title */

.title_top {
    margin-bottom: 20px;
    padding: 25px 0 14px;
    border-bottom: 1px solid #EEE;
}


input,
select,
button {
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}



element.style {
    width: 20%;
    left: 0%;
}


button {
    border: 1px solid #DDD;
    cursor: pointer;
    background-color: #fff;
}

.button1 {
    padding: 10px 20px; /* 위아래 10픽셀, 좌우 20픽셀의 여백 */
    font-size: 16px; /* 글자 크기 설정 */
    width:  978px; /* 버튼의 너비 설정 (선택 사항) */
    height: 50px; /* 버튼의 높이 설정 (선택 사항) */

    color: black;
    font-weight: bold;
 
}

.search_wrap {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #F8F8F8;
    padding: 22px 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0;
}

/* 컨텐츠 블럭  */
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    /* border-width: 2px;
        border-style: groove;
        border-color: rgb(192, 192, 192);
        border-image: initial; */
}





/* 고객센터 버튼 답변 질문 보이기 css */



.faq_icon_wrap {
    position: relative;
    background: #F5F5F5;
    padding: 12px 13px;
    margin-bottom: 48px;
    white-space: nowrap;
    text-align: center;
}

/* 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}


table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

col {
    display: table-column;
    unicode-bidi: isolate;
}

/* t존 */
thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;  
}

/* 검색창 */
.search_wrap.ty2 input[type="text"] {
    width: 440px;
    margin-right: 8px;
}

.btn_col2 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;
}

/*  search_wrap 클래스 내부의 모든 요소 중에서 클래스 이름이 btn_col로 시작하는 요소들을 스타일링하는 데 사용됩니다. */
.search_wrap [class^="btn_col"] {
    width: 86px;
    height: 38px;
    line-height: 34px;
    vertical-align: middle;
}

/* 질문 구분 답글 */
.tb_acc_wrap th, .tb_acc_wrap td {
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}











strong {
    font-weight: bold;
}

/* tb 테이블베이스 */
.tb_acc_wrap thead th {
    border-bottom-color: #BBBBBB;
    font-weight: bold;
}

.tb_acc_wrap td.text_l {
    padding: 20px;
}

.tb_acc_wrap tbody tr.acc_head {
    cursor: pointer;
}

/* 테이블 데이터 */
td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

/* 테이블 행 */
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.tb_acc_wrap tbody tr.acc_head td:last-child:after {
    content: '';
    float: right;
    /* display: inline-block; */

    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: -10px;
    vertical-align: middle;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}



.tb_acc_wrap tbody tr.acc_body {
    display: none;
}

/* 페이지보여주기  */
.brd_paginate {
    position: relative;
    /* margin-top: 45px; */
    text-align: center;
}

.brd_paginate ol {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

ul ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul, ol {
    list-style: none;
}


ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.brd_paginate ol li a, .brd_paginate ol li strong {
    display: inline-block;
    width: 16px;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
    font-size: 15px;
    color: #000;
    opacity: .6;
    vertical-align: middle;
}





/* 폰트 */
strong {
    font-weight: bold;
}

/* 인풋 input */

input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"] {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #DDD;
}




/* 히든 */
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}






/* 빠른이동 */
.quick_wrap {
    position: absolute;
    z-index: 11;
    right: 20px;
    padding-top: 50px;
    width: 82px;
    text-align: center;
    position: fixed;
}

.quick_wrap .quick_menu {
    overflow: hidden;
    background: #fff;
    width: 76px;
    padding-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 91;
    text-align: center;
    -webkit-border-radius: 4px;

}

.quick_wrap .quick_menu a {
    display: block;
    padding: 5px;
}

/* 사진 */
img {
    border: none;
    vertical-align: top;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.quick_wrap .quick_menu .qick_top {
    background: #3A3A3A;
    font-family: 'Roboto';
    font-size: 11px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 10px;
    padding-left: 13px;
}


/* 하단 */

.banner_wrap {
    padding-top: 70px;
    text-align: center;
}

.footer {
    padding-top: 80px;
}

.footer .f_logo {
    display: block;
    margin-bottom: 20px;
}


.footer .f_menu {
    margin-bottom: 15px;
}

.footer .f_menu li {
    position: relative;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}

.footer .f_menu.type1 li a {
    color: #4d4d4d;
}

.footer .f_menu li a {
    display: block;
    font-size: 12px;
}

.footer .inner {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.footer .bx_address.type1 span {
    border: 0;
}

.footer .bx_address span.bar {
    position: relative;
    padding-left: 10px;
}

.footer .bx_address span {
    margin-right: 10px;
}

.footer .bx_address {
    line-height: 1.5;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .article_award {
    margin: 50px auto 0;
    padding: 20px ;
    background: #f5f5f5;
}

li {
    text-align: -webkit-match-parent;
}

.footer .article_award ul li:first-child {
    margin-left: 0;
}
.footer .article_award ul li {
    float: left;
    margin: 0 4px;
}

.banner_wrap .banner_01 {
    margin-bottom: 50px;
}


/* 답변 옆 내용 */

.search_wrap .txt_help_wrap {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, .27);
    padding: 0 25px;
    margin-left: 20px;
    font-size: 12px;
}
.search_wrap .txt_help_wrap a {
    color: #000;
    text-decoration: underline;
    margin-right: 24px;
}
.search_wrap .txt_help_wrap p {
    color: #666666;
    margin-bottom: 10px;
}
