
#nav {
    width: 980px;
    margin: 3px auto 0;
    text-align: center;
}

#nav > ul > li {
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
}



    /* nav μ„Έν… */

    #nav > ul > li > a {
        /* display: block; */
        /* position: relative; */
        height: 40px;
        line-height: 40px;
        padding: 0 24px;
        font-size: 14px;
        /* letter-spacing: 0.1em; */
        white-space: nowrap;
    }


    .nav{
        font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
        list-style: none;
        color: #000;
        text-decoration: none;
        cursor: pointer;
        display: block;
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 24px;
        font-size: 14px;
        letter-spacing: 0.1em;
        white-space: nowrap;
    }



    #nav .menuHover a {
        transition: all 0.6s ease;
    }

    #nav .menuHover:hover a {
        color: red;
        font-weight: bold;
        background: gray;
    }


